/* @media only screen and (max-width: 300px) {
    #slide-out {
        width: 50px;
    }
} */

* {
    font-family: arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#slide-out{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#holding {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    background-color: #d4ffdf;
    width: 100%;
    text-align: right;
}

#cody {
    padding-top: 5%;
    padding-right: 5%;
    font-size: 48pt;
}

#tagline {
    padding-top: 3%;
    font-size: 24pt;
    padding-right: 5%;
}

#par1 {
    opacity: .85; 
    height: 100%; 
}

#par2 {
    opacity: .85;
    height: 100%;
}

#par3 {
    opacity: .85;
    height: 100%;
}

#about-div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: right;
    padding-top: 5%;
    padding-right: 5%;
    background-color: #c7c2ff;
    height: 500px;
}

#projects-div { 
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5%;
    text-align: right;
    font-size: 24pt;
    background: #fbd9ff;
    height: 100%;
    overflow: auto;
}

#contact-div {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5%;
    text-align: right;
    font-size: 24pt;
    overflow: auto;
    background-color: #e0f4ff;
}

h1 {
    padding-top: 3%;
    font-size: 32pt;
    font: bold;
    color: #d166cc;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.project-image {
    float: right;
    opacity: 1;
}

.card-image {
    float: right;
    clear: right;
    margin-left: 3%;
}

.card-content {
    color: #412254;
}

.chip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    background: transparent;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
      padding-left: 0;
    }
  }